/*

app-template.css overrides

remove this comment if used
remove this file if not

*/

/*div.nav-bar.info-message {*/
    /*display: none;*/
/*}*/

div.nav-bar.info-message span {
    float: none;
}

div.nav-bar.info-message.error-message {
    color: rgba(175, 47, 47, 0.7);
}

div.nav-bar.info-message.success-message {
    color: rgba(0, 179, 0, 0.7);
}

.nav-bar, .nav-bar-lists {
    color: #777;
    padding: 10px 15px;
    text-align: center;
    border-bottom: 1px solid #e6e6e6;
}

.nav-bar {
    height: 20px;
}

.nav-bar-lists {
    text-align: inherit;
    /*display: none;*/
    -webkit-flex-direction: row;
    flex-direction: row;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: stretch;
    align-items: stretch;
    -webkit-align-content: stretch;
    align-content: stretch;
}

.filters-bot {
    margin: 0;
    padding: 0;
    list-style: none;
    right: 0;
    left: 0;
}

.nav-bar-lists div {
    display: inline-block;
    width: 20%;
    order: 0;
    -webkit-flex-grow: 0;
    flex-grow: 0;
    -webkit-flex-shrink: 1;
    flex-shrink: 1;
    -webkit-flex-basis: auto;
    flex-basis: auto;
    -webkit-align-self: auto;
    align-self: auto;
}

.nav-bar-lists div.selected {
    border-color: rgba(175, 47, 47, 0.2);
}

.nav-bar-lists div:hover {
    border-color: rgba(175, 47, 47, 0.2);
}

.nav-bar-lists div {
    color: inherit;
    margin: 7px 3px;
    padding: 1px 7px;
    text-decoration: none;
    border-left: 3px solid #e6e6e6;
    /*border-radius: 3px;*/
    line-height: 1em;
    cursor: pointer;
}

.nav-input {
    float: left;
    text-align: left;
    margin-right: 12px;
    margin-top: -2px;
    width: 22%;
    padding: 4px 8px 4px 8px;
    border: none;
    background: rgba(0, 0, 0, 0.003);
    box-shadow: inset 0 -2px 1px rgba(175, 47, 47, 0.15);
}

button.clear-completed.login, button.clear-completed.signup,
span.clear-completed.message, button.clear-completed.list-save,
span.clear-completed.list-label {
    float: left;
}

span.clear-completed.message, span.clear-completed.authorized, span.clear-completed.list-label {
    cursor: inherit;
}

span.clear-completed.list-label {
    margin-right: 5px;
}

span.clear-completed.message.error {
    float: none;
    color: rgba(175, 47, 47, 0.7);
}

span.clear-completed.message:hover, span.clear-completed.authorized:hover, span.clear-completed.list-label {
    text-decoration: none;
}

.nav-input[type="email"] {
    width: 30%;
}

.nav-input[type="password"] {
    width: 15%;
}

/*.clear-completed, html .clear-completed:active {*/
    /*float: right;*/
    /*position: relative;*/
    /*line-height: 20px;*/
    /*text-decoration: none;*/
    /*cursor: pointer;*/
/*}*/

.show-all-lists {
    /*display: none;*/
}

.show-all-lists, html .show-all-lists:active, .hide-all-lists, html .hide-all-lists:active {
    float: left;
    position: relative;
    line-height: 20px;
    text-decoration: none;
    cursor: pointer;
}

.show-signup {
    padding-right: 5px;
}

span.list {
    font-weight: bold;
}

.back, .exit, .list-close {
    padding-left: 5px;
}

/*.toggle-all.tasks-empty + label:before {*/
    /*content: none;*/
/*}*/